<h1>Contact Me</h1>

<p><%= link_to 'Back to home', home_path %></p>

<body>
    <h2>Phone Number</h2>
    <p>111-111-1111</p>

    <h2>Email</h2>
    <p>email@email.com</p>

    <h2>PO Box</h2>
    <p>address information</p>
</body>