<h1>My Projects and Work</h1>


<p>
    Over time, I've completed many projects including the following. 
</p>

<p><%= link_to 'Back to home', home_path %></p>

<body>
<%= image_tag 'comp1.jpg' %>
<p>Ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Donec massa sapien faucibus et. Eu lobortis elementum nibh tellus. Aliquet porttitor lacus luctus accumsan tortor posuere. Non nisi est sit amet facilisis magna etiam. Magna eget est lorem ipsum dolor sit. Etiam non quam lacus suspendisse faucibus. Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Morbi tristique senectus et netus. Mattis aliquam faucibus purus in massa tempor nec. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Placerat in egestas erat imperdiet sed euismod nisi. Magna eget est lorem ipsum dolor sit amet. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu.</p>
<%= image_tag 'comp2.jpg' %>
<p>Ultrices mi tempus imperdiet nulla malesuada pellentesque. At tempor commodo ullamcorper a lacus. Tortor posuere ac ut consequat semper. Ullamcorper a lacus vestibulum sed arcu. Morbi leo urna molestie at elementum eu facilisis sed. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Interdum consectetur libero id faucibus nisl. Congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. In aliquam sem fringilla ut morbi. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Ut tellus elementum sagittis vitae et leo duis.</p>
<%= image_tag 'comp3.jpg' %>
<p>Curabitur vitae nunc sed velit dignissim sodales ut. Sed libero enim sed faucibus turpis in eu mi bibendum. Metus dictum at tempor commodo ullamcorper a lacus. Eu scelerisque felis imperdiet proin fermentum leo. Quam elementum pulvinar etiam non quam lacus. Sed nisi lacus sed viverra tellus in hac habitasse. Lectus sit amet est placerat in egestas erat. Bibendum est ultricies integer quis. Diam volutpat commodo sed egestas egestas. Ac feugiat sed lectus vestibulum mattis. Adipiscing enim eu turpis egestas pretium aenean pharetra.</p>
</body>